<% if items.any? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% items.each do |item| %>
        <li class="breadcrumb-item <%= item == items.last ? 'active' : '' %>" <%= item == items.last ? 'aria-current=page' : '' %>><%= item %></li>
      <% end %>
    </ol>
  </nav>
<% end %>