<div class="mt-4 mb-3">
  <div class="border rounded-2 p-4">
    <%= render file: snippet %>
  </div>
  <div class="highlight p-4">
    <pre class='mb-0'><code><%= highlight %></code></pre>
  </div>
</div>