<div class="progress">
  <% if bars.any? %>
    <% bars.each do |bar| %>
      <%= bar %>
    <% end %>
  <% else %>
    <%= render Bs5::Progress::BarComponent.new(value, options) %>
  <% end %>
</div>
