<h3>Block buttons</h3>
<%= bs5_example(snippet: 'buttons/block_buttons/block_buttons') %>
<%= bs5_example(snippet: 'buttons/block_buttons/responsive_block_buttons_1') %>
<%= bs5_example(snippet: 'buttons/block_buttons/responsive_block_buttons_2') %>
<%= bs5_example(snippet: 'buttons/block_buttons/responsive_block_buttons_3') %>