<h2>Examples</h2>
<h3>Slides only</h3>
<%= bs5_example(snippet: 'carousel/examples/snippet1') %>
<h3>With controls</h3>
<%= bs5_example(snippet: 'carousel/examples/snippet2') %>
<h3>With indicators</h3>
<%= bs5_example(snippet: 'carousel/examples/snippet3') %>