<h2>Menu alignment</h2>
<%= bs5_example(snippet: 'dropdowns/menu_alignment/snippet1') %>
<h3>Responsive alignment</h3>
<%= bs5_example(snippet: 'dropdowns/menu_alignment/snippet2') %>
<%= bs5_example(snippet: 'dropdowns/menu_alignment/snippet3') %>