<div class="mb-3">
  <%= bs5_progress(25, striped: true, color: :success) %>
</div>

<div class="mb-3">
  <%= bs5_progress(50, striped: true, color: :info) %>
</div>

<div class="mb-3">
  <%= bs5_progress(75, striped: true, color: :warning) %>
</div>

<%= bs5_progress(100, striped: true, color: :danger) %>