<!DOCTYPE html>
<html>
<head>
  <title>Bs5</title>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style><%= Rouge::Themes::Github.render(scope: '.highlight') %></style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
