<div class="mb-3">
  <%= bs5_progress(25, animated: true, color: :success) %>
</div>

<div class="mb-3">
  <%= bs5_progress(50, animated: true, color: :info) %>
</div>

<div class="mb-3">
  <%= bs5_progress(75, animated: true, color: :warning) %>
</div>

<%= bs5_progress(100, animated: true, color: :danger) %>