<h2>Alert</h2>
<%= render 'bs5/examples/alert/default/example' %>
<%= render 'bs5/examples/alert/style/example' %>
<%= render 'bs5/examples/alert/additional_content/example' %>
<%= render 'bs5/examples/alert/dismissable/example' %>