  <div class="row">
    <div class="col">
      <div class="sticky-top">
        <ul class="nav flex-column">
        <li>Accordion</li>
        <li>Alert</li>
        <li>Badge</li>
        </ul>
      </div>
    </div>
    <div class="col-10">
      <h1>Bootstrap Examples</h1>
      <%= render 'accordion' %>
      <%= render 'alert' %>
      <%= render 'badge' %>
      <%= render 'close_button' %>
    </div>
  </div>