<h2>Accordion</h2>


<%= rouge(Bs5::Engine.root.join('app/views/bs5/examples/accordion/default/_snippet.html.erb').read) %>
<%= render 'bs5/examples/accordion/default/snippet' %>
<%= render template: 'bs5/examples/accordion/default/_snippet' %>
<%= render file: 'bs5/examples/accordion/default/_snippet.html.erb' %>