<div class="mb-3">
  <%= bs5_progress(25, color: :success) %>
</div>

<div class="mb-3">
  <%= bs5_progress(50, color: :info) %>
</div>

<div class="mb-3">
  <%= bs5_progress(75, color: :warning) %>
</div>

<%= bs5_progress(100, color: :danger) %>