<h2>Using dropdowns</h2>
<h3>Tabs with dropdowns</h3>
<%= bs5_example(snippet: 'navs_and_tabs/dropdowns/snippet1') %>
<h3>Pills with dropdowns</h3>
<%= bs5_example(snippet: 'navs_and_tabs/dropdowns/snippet2') %>