<h2>Menu items</h2>
<%= bs5_example(snippet: 'dropdowns/menu_items/snippet1') %>
<%= bs5_example(snippet: 'dropdowns/menu_items/snippet2') %>
<h3>Active</h3>
<%= bs5_example(snippet: 'dropdowns/menu_items/snippet3') %>
<h3>Disabled</h3>
<%= bs5_example(snippet: 'dropdowns/menu_items/snippet4') %>