<h1>Button group</h1>
<%= render 'bs5/examples/button_group/default/example' %>
<%= render 'bs5/examples/button_group/button_toolbar/example' %>
<%= render 'bs5/examples/button_group/sizing/example' %>
<%= render 'bs5/examples/button_group/vertical/example' %>