<h1 id='close_button'>Close button</h1>
<%= render 'bs5/examples/close_button/default/example' %>
<%= render 'bs5/examples/close_button/disabled/example' %>
<%= render 'bs5/examples/close_button/white/example' %>