<h1>Popovers</h1>
<%= render 'bs5/examples/popovers/default/example' %>
<%= render 'bs5/examples/popovers/four_directions/example' %>
<%= render 'bs5/examples/popovers/dismissable_on_next_click/example' %>
<%= render 'bs5/examples/popovers/disabled_elements/example' %>
