<%= bs5_breadcrumb do |breadcrumb| %>
  <% breadcrumb.slot(:item) do %>Home<% end %>
<%- end %>

<%= bs5_breadcrumb do |breadcrumb| %>
  <% breadcrumb.slot(:item) do %><a href="#">Home</a><% end %>
  <% breadcrumb.slot(:item) do %>Library<% end %>
<%- end %>

<%= bs5_breadcrumb do |breadcrumb| %>
  <% breadcrumb.slot(:item) do %><a href="#">Home</a><% end %>
  <% breadcrumb.slot(:item) do %><a href="#">Library</a><% end %>
  <% breadcrumb.slot(:item) do %>Data<% end %>
<%- end %>