<%= bs5_breadcrumb do |b| %>
  <% b.item do %>Home<% end %>
<%- end %>

<%= bs5_breadcrumb do |b| %>
  <% b.item do %><a href="#">Home</a><% end %>
  <% b.item do %>Library<% end %>
<%- end %>

<%= bs5_breadcrumb do |b| %>
  <% b.item do %><a href="#">Home</a><% end %>
  <% b.item do %><a href="#">Library</a><% end %>
  <% b.item do %>Data<% end %>
<%- end %>