<h2>Menu content</h2>
<h3>Headers</h3>
<%= bs5_example(snippet: 'dropdowns/menu_content/snippet1') %>
<h3>Dividers</h3>
<%= bs5_example(snippet: 'dropdowns/menu_content/snippet2') %>
<h3>Text</h3>
<%= bs5_example(snippet: 'dropdowns/menu_content/snippet3') %>
<h3>Forms</h3>
<%= bs5_example(snippet: 'dropdowns/menu_content/snippet4') %>