<h2>Directions</h2>
<h3>Dropup</h3>
<%= bs5_example(snippet: 'dropdowns/directions/snippet1') %>
<h3>Dropright</h3>
<%= bs5_example(snippet: 'dropdowns/directions/snippet2') %>
<h3>Dropleft</h3>
<%= bs5_example(snippet: 'dropdowns/directions/snippet3') %>